<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="dashboard-sections">
    
    <div class="leaderboard-container">
      <h2>Leaderboard</h2>
      <ol class="leaderboard-list">
        <% @users.each_with_index do |user, index| %>
          <li class="leaderboard-item <%= 'first-place' if index == 0 %> <%= 'second-place' if index == 1 %> <%= 'third-place' if index == 2 %>">
            <% if index == 0 %>
              <div class="flame-container">
                <div class="flame">
                  <% 50.times do %>
                    <div class="particle"></div>
                  <% end %>
                </div>
              </div>
              <%= image_tag('goldmedal.png', alt: 'Gold Medal', class: 'medal-icon') %>
            <% elsif index == 1 %>
              <%= image_tag('silvermedal.png', alt: 'Silver Medal', class: 'medal-icon') %>
            <% elsif index == 2 %>
              <%= image_tag('bronzemedal.png', alt: 'Bronze Medal', class: 'medal-icon') %>
            <% end %>
            <span class="ranking"><%= "#{index + 1}ยบ" %></span>
            <div class="user-card <%= 'bronze-stroke' if index == 2 %>">
              <div class="hexagon"></div>
              <div class="user-info">
                <span class="username"><%= user.username %></span>
                <span class="score"><%= user.score %> points</span>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>

    <div class="language-selection">
      <h2>Choose the language</h2>
      <% @languages.each_with_index do |language, index| %>
        <div class="language-card">
          <div class="language-card-header">
            <button class="language-card-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>">
              <%= language.name %>
            </button>
          </div>
          <div id="collapse<%= index %>" class="collapse language-modes">
            <div class="mode-cards">
              <%= render "time_trial", language: language %>
              <%= render "pvp", language: language %>
              <%= render "training", language: language %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
