 <h1 class="text-center">Home</h1>
  <div class=" m-5">
    <h2>Leaderboard</h2>
    <h3>Ranking:</h3>
   <ol>
      <% @users_score.each do |user| %>
        <li><%= user.username %> - <%= user.score %> points</li>
      <% end %>
    </ol>
    <h3>Best times:</h3>
    <ol>
      <% @users_time.each do |user| %>
        <li><%= user.username %> - <%= user.submissions.minimum(:time_taken) %> seconds</li>
      <% end %>
    </ol>
  </div>
 <div class="container m-5">
  <div class="row">
    <div class="accordion" id="accordionExample">
      <% @languages.each_with_index do |language, index| %>
        <%= render "shared/card_language", language: language, index: index %>
      <% end %>
    </div>
  </div>
</div>
</div>
