<div class="dashboard-container">
  <h1>Home</h1>
  <div class="dashboard-sections">
    <div class="language-selection">
      <h2>Choose the language</h2>
      <div class="accordion" id="accordionExample">
       <% @languages.each_with_index do |language, index| %>
        <div class="language-card">
          <div class="language-card-header">
            <button class="language-card-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>">
              <%= language.name %>
            </button>
          </div>
          <div id="collapse<%= index %>" class="collapse language-modes">
            <div class="mode-cards">
              <%= render "time_trial", language: language %>
              <%= render "pvp", language: language %>
              <%= render "training", language: language %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <%= render "leaderboards" %>
  </div>
  </div>
