<div>
  <h2>My profile</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><%= current_user.username %></h3>
        <p><%= current_user.first_name %><%= current_user.last_name %></p>
      <div class="col">
        <p><%= current_user.achievements %></p>
        <% @languages.each do |language| %>
          <br>
          <%= render "progress_bar", language: language%>
          <br>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
