<div>
  <h2 class="text-center">My profile</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Username: <%= @user.username %></h3>
        <p>My name: <%= @user.first_name %> <%= @user.last_name %></p>
        <p>My level: <%= @user.achievements %></p>
        <p>My points: <%= @user.score %></p>
        <p>My best submission time is <%= @user.submissions.minimum(:time_taken) %> seconds.</p>
        <p>Win Percentage: <%= @win_percentage.round(2) %> %</p>
      <div class="col">
        <% @languages.each do |language| %>
          <br>
          <%= render "progress_bar", language: language%>
          <br>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
