<div>
  <h2 class="text-center">My profile</h2>
  <div class="container">
    <div class="row">
      <div class="col card-profile-container">
        <h3 class=""><strong>Username:</strong> <span class="text-success"><%= @user.username %></span></h3>
        <p><strong>My name: </strong><span class="text-success"><%= @user.first_name %> <%= @user.last_name %></span></p>
        <p><strong>My level: </strong><span class="text-success"><%= @user.achievements %></span></p>
        <p><strong>My points: </strong><span class="text-danger"><%= @user.score %></span></p>
        <p><strong>My best submission time is </strong><span class="text-danger"><%= @user.submissions.minimum(:time_taken) %> seconds.</span></p>
        <p><strong>Win Percentage: </strong><span class="text-success"><%= @win_percentage.round(2) %> %</span></p>
      </div>
      <div class="d">
        <% @languages.each do |language| %>
          <br>
          <%= render "progress_bar", language: language%>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
