<script data-controller="create-submission">
 window.onmessage = (event) => {
   if(!event.data.result) return;
   const output = event.data.result.output;
   console.log(output);
   document.querySelector('[data-create-submission-target="output"]').innerHTML = output;

   // Dispatch a custom event
   const deed = new CustomEvent('loadExpectedResults');
   window.dispatchEvent(deed);

   // Call Rails controller method
   Rails.ajax({
       url: "/submissions",
       type: "POST",
       data: {output: event.data.result.output}
   });
 }
</script>

<div class="d" data-controller="create-submission timer">
  <h4 class="text-center">New challenge</h4>
  <div class="d-flex justify-content-center">
    <div class="card-game-container">
      <div class="card-game">
        <h5 class="card-game-title"><%= @challenge.name %></h5>
        <p class="card-game-text">Description: <%= @challenge.description %></p>
        <p class="card-game-text">Points: <%= @challenge.expected_score %></p>
        <p class="card-game-text">Max Time: <%= @challenge.expected_time / 60%> minutes</p>
        <span class="badge text-bg-info"><%= @challenge.category %></span>
        <span class="badge text-bg-info"><%= @challenge.language.name %></span>
        <span class="badge text-bg-info"><%= @challenge.difficulty %></span>
      </div>
    </div>
        <div class="card-time-container ">
          <button class="btn btn-gradient-1" data-action="click->timer#startTimer" data-timer-target="startButton">Start trial</button>
          <div id="timer-text" class="card-game-text"  data-timer-target="timer"></div>
        </div>
        <div class="text-light hidden" data-create-submission-target="output"></div>
        <div data-create-submission-target="expectedOutput" class="hidden"><%= @challenge.expected_result %></div>
        <i data-create-submission-target="tick" class="fa-solid fa-check hidden" style="color: #00ff04;"> It's correct!</i>
        <i data-create-submission-target="cross" class="fa-solid fa-xmark hidden" style="color: #fb0404;"> It's wrong , try again!</i>
        <div class="card-time-container">
          <button data-action="click->timer#stopTimer" data-target="stopButton" class="btn btn-gradient-2" data-bs-toggle="modal" data-bs-target="#exampleModal">End challenge</button>
        </div>
      </div>
          <%= render "modal"%>
        <% language_name = @language.name.html_safe %>
    <div class="blurred" data-timer-target="blur">
    <div id="challenge-data" data-language-name="<%= @language.name %>" data-language-extension="<%= @language.extension %>" data-language-comment="<%= @language.comment %>" data-challenge-content="<%= @challenge.content %>"></div>
      <div class="container-ide">
        <iframe id="bad-boy-editor"
        frameBorder="0"
        height="500px"
        src="https://onecompiler.com/embed/<%= @language.name.downcase %>?codeChangeEvent=true&listenToEvents=true&theme=dark&hideNew=true&hideNew=true&disableCopyPaste=true"
        width="150%"
        ></iframe>
      </div>
      <div  class="alert alert-success d-flex align-items-center" role="alert" data-timer-target="alert">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
 </div>
</div>
