<script data-controller="create-submission">
  window.onmessage = (event) => {
    if (!event.data.result) return;
    const output = event.data.result.output;
    console.log(output);
    document.querySelector('[data-create-submission-target="output"]').innerHTML = output;

    const deed = new CustomEvent('loadExpectedResults');
    window.dispatchEvent(deed);

    Rails.ajax({
      url: "/submissions",
      type: "POST",
      data: { output: event.data.result.output }
    });
  }
</script>

<div class="content" data-controller="create-submission timer">
  <div class="container-ide">
    <iframe id="bad-boy-editor"
            frameBorder="0"
            src="https://onecompiler.com/embed/<%= @language.name.downcase %>?codeChangeEvent=true&listenToEvents=true&theme=dark&hideNew=true&hideNew=true&disableCopyPaste=true"
            height="600px" // Set the height to match your SCSS
            ></iframe>
  </div>

  <div class="right-container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @challenge.name %></h5>
        <p class="card-text">Description: <%= @challenge.description %></p>
        <p class="card-text">Points: <%= @challenge.expected_score %></p>
        <p class="card-text">Max Time: <%= @challenge.expected_time / 60 %> minutes</p>
        <span class="badge"><%= @challenge.category %></span>
        <span class="badge"><%= @challenge.language.name %></span>
        <span class="badge"><%= @challenge.difficulty %></span>
      </div>
    </div>

    <!-- Additional right-container content -->
    <!-- ... -->

  </div>
</div>

<%# Additional content outside the flex container %>
<% language_name = @language.name.html_safe %>
<div id="challenge-data" data-language-name="<%= @language.name %>" data-language-extension="<%= @language.extension %>" data-language-comment="<%= @language.comment %>" data-challenge-content="<%= @challenge.content %>"></div>
