<script data-controller="create-submission">
 window.onmessage = (event) => {
   if(!event.data.result) return;
   const output = event.data.result.output;
   console.log(output);
   document.querySelector('[data-create-submission-target="output"]').innerHTML = output;

   // Dispatch a custom event
   const deed = new CustomEvent('loadExpectedResults');
   window.dispatchEvent(deed);

   // Call Rails controller method
   Rails.ajax({
       url: "/submissions",
       type: "POST",
       data: {output: event.data.result.output}
   });
 }
</script>

<div class="d" data-controller="create-submission">
  <h4>New challenge</h4>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @challenge.name %></h5>
        <p class="card-text text-dark">Description: <%= @challenge.description %></p>
        <p class="card-text text-dark">Points: <%= @challenge.expected_score %></p>
        <p class="card-text text-dark">Max Time: <%= @challenge.expected_time / 60%> seconds</p>
        <span class="badge text-bg-info"><%= @challenge.category %></span>
        <span class="badge text-bg-info"><%= @challenge.language.name %></span>
        <span class="badge text-bg-info"><%= @challenge.difficulty %></span>
      </div>
    </div>
      <div class="card" style="width: 30rem;">
      <div data-controller="timer">
        <button class="btn btn-primary" data-action="click->timer#startTimer" data-target="timer.startButton">Start trial</button>
        <div data-target="timer.timer">3...2...1..GO</div>
        <div  class="alert alert-success d-flex align-items-center" role="alert" data-target="timer.alert">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <button class="btn btn-primary" data-action="click->timer#stopTimer" data-target="timer.stopButton">End trial</button>
      </div>
      </div>
        <% language_name = @language.name.html_safe %>
  </div>
    <div class="fd">
      <div class="container-ide">
        <iframe
        frameBorder="0"
        height="500px"
        src="https://onecompiler.com/embed/<%= @language.name.downcase %>?codeChangeEvent=true&listenToEvent=true&theme=dark&hideNew=true"
        width="150%"
        ></iframe>
      </div>

      <button class="btn btn-primary">Submit</button>
      <div class="text-light" data-create-submission-target="output"></div>
      <div data-create-submission-target="expectedOutput" class="hidden"><%= @challenge.expected_result %></div>
      <i data-create-submission-target="tick" class="fa-solid fa-check hidden" style="color: #00ff04;"></i>
      <i data-create-submission-target="cross" class="fa-solid fa-xmark hidden" style="color: #fb0404;"></i>
    </div>
</div>
